// Color
$color-primary: darken(#7DC6D9, 35%);
$color-secondary: #000A3D;

// Text
$text-gold: #FFD700;

// Devices
$width-tablet: 768px;
$width-desktop: 1024px;

// Font
$font-secondary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font size
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;