// Color
$color-dark: #221f26;
$color-light: #f5f5f5;
$color-yellow: #edbd2e;
$color-red: #de3b59;
$color-blue: #19f3bf;


// Devices
$width-tablet: 768px;
$width-desktop: 1024px;

// Font size
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;