@import "../vars";

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: lighten($color-red, 20%);
    border: 0px none #ffffff;
    transition: background .25s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: $color-red;
    transition: background .25s ease-in-out;
}

::-webkit-scrollbar-track {
    background: #ccc;
    border: 0px none #ccc;
}

::-webkit-scrollbar-track:active {
    background: #ccc;
    border: 0px none #ccc;
}

::-webkit-scrollbar-corner {
    background: transparent;
}