.single-item__image {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
    position: relative;
}

.item__content {
    flex-basis: 70%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;

    img {
        margin-bottom: 16px;
        object-fit: scale-down;
        max-width: 100%;
    }
}

.content__image {
    flex-basis: 100%;
    min-width: 0;
    text-align: center;
}

.info__description {
    flex-basis: 70%;
    order: 3;
    text-align: right;
}

.user-interaction {
    flex-basis: 30%;
    order: 2;
    display: flex;
    align-items: center;

    i {
        margin-right: 32px;
        font-size: $font-size-large;
        cursor: pointer;
    }

    span {
        transition: color 0.3s ease;
    }

    span.liked {
        color: $color-red;
    }
}

.item__info {
    flex-basis: 27.5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    .info {
        color: $color-dark;
    }
}

.info__general-data, .info__metadata {
    padding: 0 8px;
    border: 1px solid $color-dark;
    border-radius: 3px;
    margin-bottom: 16px;

    span {
        float: right;
    }
}

.info__links {
    display: flex;
    flex-flow: row wrap;

    label {
        flex-basis: 100%;
    }

    span {
        flex-basis: 15%;
    }

    input {
        flex-basis: 85%;
    }
}

.info__description.secondary {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.comment-section {
    margin-top: 16px;

    button {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-red;
        }
    }
}

.single-item__form {
    display: flex;
    flex-flow: column wrap;
    width: 70%;

    textarea {
        max-height: 80px;
        resize: none;
        outline: none;
        padding: 12px;
    }

    button {
        margin: 16px 0;
        align-self: flex-end;
        background: $color-red;
        color: $color-light;

        &:hover {
            background: darken($color-red, 10%);
        }
    }
}

.comment-section__archive {
    margin-top: 16px;
    color: $color-light;
    width: 70%;
}

.child-comment {
    border-bottom: 1px solid $color-light;
    background: $color-dark;
    margin-bottom: 16px;
    border-radius: 3px;

    h5 {
        padding: 12px 0 0 12px;

        span {
            color: $color-light;
            cursor: auto;
        }
    }

    p {
        color: $color-light;
        font-size: $font-size-small;
        margin-left: 12px;
        padding: 16px 0;
    }
}

.child-comment__author {
    cursor: pointer;
    color: $color-red;
    border-bottom: 1px solid transparentize($color-light, 0.75);;
}

@media screen and (max-width: #{$width-desktop}) {
    .single-item__image {
        flex-flow: column wrap;
    }

    .comment-section__archive, .single-item__form {
        width: 100%;
    }

    .info__description {
        display: none;
    }
}

@media screen and (max-width: #{$width-tablet}) {
    .info__description.secondary {
        display: block;
        padding: 16px;
        text-align: left;
        word-wrap: break-word;
    }

    .comment-section {
        margin-top: 64px;
    }

    .single-item__form {
        button {
            margin: 8px 0;
        }
    }
}
