@import "../vars";

.thumbnail__video,
.thumbnail__audio,
.thumbnail__picture {
    position: relative;
    bottom: 0;
    display: inline-block;
    overflow: hidden;
    height: 98%;
    margin: 0 5px;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);

    &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

.thumbnail__video-vertical,
.thumbnail__audio-vertical,
.thumbnail__picture-vertical {
    position: relative;
    bottom: 0;
    display: inline-block;
    overflow: hidden;
    width: 98%;
    margin: 0 5px;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);

    &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

.thumbnail__picture {
    position: relative;

    figure {
        position: relative;
        overflow: hidden;
        width: auto;
        height: 100%;
        text-align: center;
        background: transparent;

        img {
            max-width: 33vw;
            height: 100%;
            padding: 0;
            object-fit: cover;

            @include phone {
                max-width: none;
            }
        }

        &:hover figcaption {
            color: $color-light;
            background: rgba(11, 11, 11, 0.75);
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            margin: 0;
            transition: all .3s ease;
            color: transparent;
        }

        .single-image__buttons {
            font-size: 24px;
            position: absolute;
            right: 8px;
            bottom: 0;
        }

        .single-image__buttons {
            font-size: 24px;
            position: absolute;
            right: 8px;
            bottom: 0;
        }

        i,
        p {
            display: inline-block;
        }
    }
}

.thumbnail__video {
    max-width: 45%;
    height: 100%;

    @include phone {
        max-width: 90%;
    }


    .videogular-container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.thumbnail__picture-vertical {
    position: relative;

    figure {
        position: relative;
        overflow: hidden;
        width: 100%;
        background: transparent;

        img {
            width: 100%;
            object-fit: cover;
        }

        &:hover figcaption {
            color: $color-light;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        }

        figcaption {
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            transition: all .3s ease;
            color: transparent;
        }

        .single-image__buttons {
            font-size: 24px;
            position: absolute;
            right: 8px;
            bottom: 0;
        }

        i,
        p {
            display: inline-block;
        }
    }
}

.thumbnail__video-vertical {
    figure {
        width: 100%;

        video {
            width: 100%;
        }
    }
}