@import "../vars";

.thumbnail__video,
.thumbnail__audio,
.thumbnail__picture {
    margin: 0 5px;
    height: 98%;
    position: relative;
    bottom: 0;
    display: inline-block;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

.thumbnail__picture {
    position: relative;

    figure {
        position: relative;
        height: 100%;
        overflow: hidden;
        background: transparent;
        text-align: center;
        width: auto;

        img {
            height: 100%;
            max-width: 33vw;
            object-fit: cover;
            padding: 0;

            @include phone {
                max-width: none;
            }
        }

        &:hover figcaption {
            background: linear-gradient(to top, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
            color: $color-light;
        }

        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
            margin: 0;
            color: transparent;
            transition: all 0.3s ease;
        }

        .single-image__buttons {
            position: absolute;
            bottom: 0;
            right: 8px;
            font-size: 24px;
        }

        .single-image__buttons {
            position: absolute;
            bottom: 0;
            right: 8px;
            font-size: 24px;
        }

        i,
        p {
            display: inline-block;
        }
    }
}

.thumbnail__video {
    height: 100%;
    min-width: 50%;

    .videogular-container {
        height: 100%;
        margin: auto;
        overflow: hidden;
        width: 100%;
    }
}

.thumbnail__audio {}