<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Media Sharing site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/videogular-themes-default/videogular.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/src/modernizr.js"></script>
    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body ng-app="myApp">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="overlay"></div>
    <div class="loading-indication"></div>

    <light-box></light-box>

    <login-form></login-form>

    <upload-form></upload-form>

    <!-- Nav for big screen -->
    <nav class="hidden__phone">
        <a href="#/hot"><img src="images/logo.png" alt="logo" id="logo"></a>
        <div id="nav-panel">
            <a href="#/hot">
                <i class="glyphicon glyphicon-fire" id="hot-nav-btn"></i>
            </a>
            <a href="#/explore-image">
                <i class="glyphicon glyphicon-picture" id="picture-nav-btn"></i>
            </a>
            <a href="#/explore-video">
                <i class="glyphicon glyphicon-film" id="video-nav-btn"></i>
            </a>
            <a href="#/explore-audio">
                <i class="glyphicon glyphicon-music" id="audio-nav-btn"></i>
            </a>
        </div>
    </nav>

    <!-- All screen headers -->
    <header class="pure-g hidden__phone" id="desktop-header" ng-controller="userController">
        <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-3-4">
            <div id="search-panel" class="flex__center" ng-controller="headerController">
                <form ng-submit="doSearch(typeSearch)">       
                    <input ng-model="searchContent" type="text" id="search-text" placeholder="Search">
                    <div class="search-options">
                        <span class="fa fa-user" ng-click="changeType('user')"></span>
                        <span class="fa fa-file selected" ng-click="changeType('title')"></span>
                    </div>
                </form>
            </div>
        </div><div class="pure-u-md-1-3 pure-u-lg-1-4">
            <div id="control-panel" class="flex__center">
                <button id="upload-btn" ng-show="loggedIn" ng-cloak>
                    <span class="fa fa-upload hidden__desktop" style="font-size:24px;"></span>
                    <p class="hidden__tablet">UPLOAD</p>
                </button>
                <button id="signin-btn" ng-hide="loggedIn" ng-cloak>
                    <span class="fa fa-sign-in" style="font-size:24px;"></span>
                    <p class="hidden__tablet">SIGN IN</p>
                </button>
                <a href="#/profile">
                    <button id="profile-btn" ng-show="loggedIn" ng-cloak>
                        <span class="fa fa-user hidden__desktop" style="font-size:24px;"></span>
                        <p class="hidden__tablet">PROFILE</p>
                    </button>
                </a>
            </div>
        </div>
    </header>

    <header class="hidden__tablet hidden__desktop" id="phone-header" ng-controller="userController">
        <div class="pure-g pure-u-1">
            <div class="pure-u-sm-1-2" id="search-panel-phone" ng-controller="headerController">
                <form ng-submit="doSearch(typeSearch)">
                    <input ng-model="searchContent" type="text" id="search-text-phone" placeholder="Search">
                    <div class="search-options">
                        <span class="fa fa-user" ng-click="changeType('user')"></span>
                        <span class="fa fa-file selected" ng-click="changeType('title')"></span>
                    </div>
                </form>
            </div><div class="pure-g pure-u-sm-1-2" id="control-panel-phone">
                <button id="upload-btn-phone" ng-show="loggedIn">
                    <span class="fa fa-upload"></span>
                </button><button id="signin-btn-phone" modal-data="login" ng-hide="loggedIn">
                    <span class="fa fa-sign-in"></span>
                </button><a href="#/profile">
                <button id="profile-btn-phone" ng-show="loggedIn">
                    <span class="fa fa-user">
                    </span>
                </button></a>
            </div>
        </div>
        <div class="pure-g pure-u-1" id="tabs-phone">
            <div class="pure-u-sm-1-4" id="hot-tab-phone">
                <a href="#/hot">
                    <i class="glyphicon glyphicon-fire"></i>
                </a>
            </div><div class="pure-u-sm-1-4" id="picture-tab-phone">
                <a href="#/explore-image">
                    <i class="glyphicon glyphicon-picture"></i>
                </a>
            </div><div class="pure-u-sm-1-4" id="video-tab-phone">
                <a href="#/explore-video">
                    <i class="glyphicon glyphicon-film"></i>
                </a>
            </div><div class="pure-u-sm-1-4" id="audio-tab-phone">
                <a href="#/explore-audio">
                    <i class="glyphicon glyphicon-music"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <main>
        <div ng-view></div>
    </main>

    <!-- Container for wavesurfer -->
    <div ng-controller="wavesurferController">
        <div id="waveform-toggle" ng-class="{'waveform-toggle-up': show}" ng-click="showToggle()">
            <i class="fa fa-chevron-up fa-2x"></i>
        </div>
        <div id="waveform-container" ng-class="{'waveform-show': show}" ng-mouseenter="cancelAutohide()" ng-mouseleave="startAutohide()">
            <div id="waveform-play" class="waveform-button" ng-click="playPause()">
                <i class="fa fa-play fa-2x" ng-hide="playing"></i>
                <i class="fa fa-pause fa-2x" ng-show="playing"></i>
            </div>
            <div id="waveform-mute" class="waveform-button" ng-click="muteToggle()">
                <i class="fa fa-volume-up fa-2x" ng-hide="mute"></i>
                <i class="fa fa-volume-off fa-2x" ng-show="mute"></i>
            </div>
            <div id="waveform" ng-class="{'waveform-show': show}">
                <div class="loading-indication"></div>
            </div>
            <div class="waveform-button"><p>{{currentTime | date: 'm:ss'}} / {{length | date: 'm:ss'}}</p></div>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/bower_components/videogular/videogular.js"></script>
    <script src="/bower_components/videogular-controls/vg-controls.js"></script>
    <script src="/bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="/bower_components/videogular-buffering/vg-buffering.js"></script>
    <script src="/bower_components/videogular-poster/vg-poster.js"></script>
    <script src="/bower_components/videogular-ima-ads/vg-ima-ads.js"></script>
    <script src="/bower_components/waypoints/waypoints.js"></script>
    <script src="/bower_components/SHA-1/sha1.js"></script>
    <script src="/bower_components/angulartics/src/angulartics.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-adobe.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-chartbeat.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-cnzz.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-flurry.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-ga.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-gtm.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-mixpanel.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-piwik.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-scroll.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-segmentio.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-splunk.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-woopra.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-marketo.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-intercom.js"></script>
    <script src="/bower_components/videogular-angulartics/vg-analytics.js"></script>
    <script src="/bower_components/wavesurfer.js/dist/wavesurfer.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/clipboard/dist/clipboard.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js(.) scripts/plugins.js -->

    <!-- endbuild -->
    <!-- build:js(.tmp) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/header.js"></script>

    <script src="scripts/config/config.js"></script>

    <script src="scripts/directives/singleImage.js"></script>
    <script src="scripts/directives/loginForm.js"></script>
    <script src="scripts/directives/uploadForm.js"></script>
    <script src="scripts/directives/thumbnailImage.js"></script>
    <script src="scripts/directives/thumbnailVideo.js"></script>
    <script src="scripts/directives/thumbnailAudio.js"></script>
    <script src="scripts/directives/scrollToBottomPage.js"></script>

    <script src="scripts/controllers/remoteDataController.js"></script>
    <script src="scripts/controllers/lightboxController.js"></script>
    <script src="scripts/controllers/uploadFormController.js"></script>
    <script src="scripts/controllers/thumbMediaController.js"></script>
    <script src="scripts/controllers/userController.js"></script>
    <script src="scripts/controllers/headerController.js"></script>
    <script src="scripts/controllers/singleItemController.js"></script>
    <script src="scripts/controllers/wavesurferController.js"></script>
    <script src="scripts/controllers/searchPageController.js"></script>
    <script src="scripts/controllers/profileController.js"></script>

    <script src="scripts/services/ajaxFactory.js"></script>
    <script src="scripts/services/mediaFactory.js"></script>
    <script src="scripts/services/audioFactory.js"></script>

    <!-- endbuild -->
</body>

</html>
