<section ng-init="runAll()" id="hot-page">
    <div class="container">
        <h1>Hot pictures</h1>
        <div class="stripe" id="hot-picture-stripe">
            <div class="thumbnail__picture" ng-repeat="image in allImages | limitTo:hotPageItemLimit">
                <thumbnail-image></thumbnail-image>
            </div>
        </div>
        <div class="flex__center" id="scroll-image-stripe">
            <button class="scroll-btn">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button class="scroll-btn">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
    <div class="container">
        <h1>Hot videos</h1>
        <div class="stripe" id="hot-video-stripe">
            <div class="thumbnail__video" ng-repeat="item in allVideos | limitTo:hotPageItemLimit">
                <thumbnail-video></thumbnail-video>
            </div>
        </div>
        <div class="flex__center" id="scroll-video-stripe">
            <button class="scroll-btn">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button class="scroll-btn">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
    <div class="container">
        <h1>Hot audio</h1>
        <div class="stripe" id="hot-audio-stripe">
            <div class="thumbnail__audio" ng-repeat="audio in allAudios | limitTo:hotPageItemLimit">
                <audio preload="metadata" controls>
                    <source ng-src="{{trustURL('http://util.mw.metropolia.fi/uploads/' + audio.path)}}">
                </audio>
            </div>
        </div>
        <div class="flex__center" id="scroll-audio-stripe">
            <button class="scroll-btn">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button class="scroll-btn">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</section>
