<section id="profile-page" class="container pure-g">
	<div class="pure-u-1 pure-md-1-2 pure-u-lg-1-2">
		<article>
			<p>Name: {{$scope.username}}</p>
			<p>Join Date</p>
			<p>Uploaded image number: </p>
			<p>Uploaded video number: </p>
			<p>Uploaded audio number: </p>
			<p>Total likes</p>
			<p>Total views</p>
		</article>
		<button></button>
		<button></button>
		<button></button>
		<button>Sign out</button>
	</div><div class="pure-md-1-2 pure-u-lg-1-2 hidden__phone">
		b
	</div>
</section>