<section class="single-item">
    <div class="container">
        <figure class="single-item__image">
            <div class="item__content">
                <div class="content__image">
                </div>
                <div class="user-interaction">
                    <span class="like" ng-click="likeItem()" ng-class="{'liked': liked}">
                	    <i class="glyphicon glyphicon-thumbs-up"></i>
                	</span>
                </div>
                <div class="info info__description">
                    <strong>Description:</strong><p>{{ itemDescription }}</p>
                </div>
            </div>
            <figcaption class="item__info">
                <div class="info info__general-data">
                    <h5>Name: <span class="single-item__name">{{ itemTitle }}</span></h5>
                    <h5>Uploaded: <span class="single-item__upload-date">{{ itemloadDate | javaDate }}</span></h5>
                    <h5>Resolution: <span class="single-item__resolution">{{ imageWidth + ' x ' + imageHeight }}</span></h5>
                    <h5>Author: <span class="single-item__author">{{ itemAuthor }}</span></h5>
                </div>
                <div class="info info__links">
                    <label for="direct-link">Direct Link</label>
                    <span class="copy">Copy</span><input readonly class="link direct-link" name="direct-link" type="text" value="{{ imageDirectLink }}">
                    <br>
                    <label for="image-link">Image Link</label>
                    <span class="copy">Copy</span><input readonly class="link image-link" name="image-link" type="text" value="{{ imageItemLink }}">
                    <br>
                    <label for="direct-link">HTML Link</label>
                    <span class="copy">Copy</span><input readonly class="link html-link" name="html-link" type="text" value="{{ imageHtmlLink }}">
                </div>
            </figcaption>
            <aside class="metadata--phone">
                <div class="metadata-nav">
                    <a ng-class="{active : tabSelected(1)}" ng-click="selectTab(1)">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <span>Metadata</span>
                    </a>
                    <a ng-class="{active : tabSelected(2)}" ng-click="selectTab(2)">
                        <i class="glyphicon glyphicon-link"></i>
                        <span>Links</span>
                    </a>
                    <a ng-class="{active : tabSelected(3)}" ng-click="selectTab(3)">
                        <i class="glyphicon glyphicon-share"></i>
                        <span>Share</span>
                    </a>
                </div>
                <div class="metadata__tab--phone tab--data" ng-class="{active : tabSelected(1)}">
                    <h5>Name: <span class="single-item__name">{{ itemTitle }}</span></h5>
                    <h5>Uploaded: <span class="single-item__upload-date">{{ itemloadDate }}</span></h5>
                    <h5>Resolution: <span class="single-item__resolution">{{ imageWidth + ' x ' + imageHeight }}</span></h5>
                    <h5>Author: <span class="single-item__author">{{ itemAuthor }}</span></h5>
                    <h5>Description: <span class="single-item__author">{{ itemDescription }}</span></h5>
                </div>
                <div class="metadata__tab--phone tab--links" ng-class="{active : tabSelected(2)}">
                    <label for="direct-link">Direct Link</label>
                    <span class="copy">Copy</span><input readonly class="link direct-link" name="direct-link" type="text" value="{{ imageDirectLink }}">
                    <br>
                    <label for="image-link">Image Link</label>
                    <span class="copy">Copy</span><input readonly class="link image-link" name="image-link" type="text" value="{{ imageItemLink }}">
                    <br>
                    <label for="direct-link">HTML Link</label>
                    <span class="copy">Copy</span><input readonly class="link html-link" name="html-link" type="text" value="{{ imageHtmlLink }}">
                </div>
                <div class="metadata__tab--phone tab--share" ng-class="{active : tabSelected(3)}">
                    <ul class="metadata__share">
                      <li class="facebook"><a href="#">Facebook</a></li>
                      <li class="twitter"><a href="#">Twitter</a></li>
                      <li class="pinterest"><a href="#">Pinterest</a></li>
                      <li class="googleplus"><a href="#">Google+</a></li>
                    </ul>
                </div>
            </aside>
        </figure>
        <div class="comment-section">
            <div class="comment-section__create">
                <form class="single-item__form" ng-submit="postComment()" ng-show="loggedIn" ng-cloak>
                    <textarea ng-model="comment" name="comment" id="comment-content" cols="30" rows="10" class="comment-content"></textarea>
                    <button>Submit</button>
                </form>
            </div>
            <div class="comment-section__archive">
                <div class="child-comment" ng-repeat="comment in itemComments">
                    <h5 class="child-comment__author">{{ comment.username }} <span> commented on </span>{{ comment.time | javaDate }}</h5>
                    <p class="child-comment__content">{{ comment.comment }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
