<section class="modal-box modal--lightbox" id="item-popup" modal-data="lightbox" ng-class="{'modal-box--cover': overlayed}" ng-controller="lightboxController as lightbox">
  <div class="modal-box__content">
    <figure class="modal-box__image">
        <img class="image__content" src="http://placehold.it/768x768" alt="">
        <figcaption class="image__functions">
          <i class="glyphicon glyphicon-thumbs-up"></i>
          <i class="glyphicon glyphicon-comment"></i>
          <i class="glyphicon glyphicon-subtitles"></i>
        </figcaption>
        <figcaption class="image__info">
            <h4>Name: <span class="image-info__views">Random Image Lightbox</span></h4>
            <h4>Uploaded: <span class="image-info__author">16/11/2015</span></h4>
            <h4>Views: <span class="image-info__views">58</span></h4>
            <h4>Author: <span class="image-info__author">SomebodySomebody</span></h4>
        </figcaption>
        <figcaption class="image__description">
            <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos accusantium, eius quibusdam sequi, at provident nemo itaque ipsa deserunt pariatur vero quam officiis est illo! Laudantium voluptatem omnis, cumque totam minima odit quae excepturi porro!</p>
        </figcaption>
      </figure>
    <aside class="modal-box__metadata">
        <br>
      <!-- metadata -->
      <div class="metadata__data">
        <p>
          <h5>Taken Date: <span class="taken-date">12/12/12</span></h5>
          <h5>Resolution: <span class="resolution">1366x768</span></h5>
          <h5>Pixels per Inch: <span class="dpi">72</span></h5>
          <h5>Size: <span class="size">3.33 KB</span></h5>
          <h5>Image Type: <span class="image-type">GIF Image</span></h5>
        </p>
      </div>
      <!-- copy links -->
      <div class="metadata__links">
        <label for="direct-link">Direct Link</label>
        <span class="copy">Copy</span><input readonly class="link direct-link" name="direct-link" type="text" value="something direct here lightbox">
        <br>
        <label for="image-link">Image Link</label>
        <span class="copy">Copy</span><input readonly class="link image-link" name="image-link" type="text" value="something image here">
        <br>
        <label for="direct-link">HTML Link</label>
        <span class="copy">Copy</span><input readonly class="link html-link" name="html-link" type="text" value="something html here">
        <br>
      </div>
      <!-- share options -->
      <ul class="metadata__share">
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="pinterest"><a href="#">Pinterest</a></li>
        <li class="googleplus"><a href="#">Google+</a></li>
      </ul>
    </aside>
    <aside class="modal-box__metadata--phone">
        <div class="metadata-nav">
            <a ng-class="{active : lightbox.tabSelected(1)}" ng-click="lightbox.selectTab(1)" href="#">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span>Metadata</span>
            </a>
            <a ng-class="{active : lightbox.tabSelected(2)}" ng-click="lightbox.selectTab(2)" href="#">
                <i class="glyphicon glyphicon-link"></i>
                <span>Links</span>
            </a>
            <a ng-class="{active : lightbox.tabSelected(3)}" ng-click="lightbox.selectTab(3)" href="#">
                <i class="glyphicon glyphicon-share"></i>
                <span>Share</span>
            </a>
        </div>
        <div class="metadata__tab--phone tab--data" ng-class="{active : lightbox.tabSelected(1)}">
            <p>
              <h5>Taken Date: <span class="taken-date">12/12/12</span></h5>
              <h5>Resolution: <span class="resolution">1366x768</span></h5>
              <h5>Pixels per Inch: <span class="dpi">72</span></h5>
              <h5>Size: <span class="size">3.33 KB</span></h5>
              <h5>Image Type: <span class="image-type">GIF Image</span></h5>
            </p>
        </div>
        <div class="metadata__tab--phone tab--links" ng-class="{active : lightbox.tabSelected(2)}">
            <label for="direct-link">Direct Link</label>
            <br>
            <span class="copy">Copy</span>
            <input readonly class="link direct-link" name="direct-link" type="text" value="something direct here login">
            <br>
            <label for="image-link">Image Link</label>
            <span class="copy">Copy</span><input readonly class="link image-link" name="image-link" type="text" value="something image here">
            <br>
            <label for="direct-link">HTML Link</label>
            <span class="copy">Copy</span><input readonly class="link html-link" name="html-link" type="text" value="something html here">
            <br>
        </div>
        <div class="metadata__tab--phone tab--share" ng-class="{active : lightbox.tabSelected(3)}">
            <ul class="metadata__share">
              <li class="facebook"><a href="#">Facebook</a></li>
              <li class="twitter"><a href="#">Twitter</a></li>
              <li class="pinterest"><a href="#">Pinterest</a></li>
              <li class="googleplus"><a href="#">Google+</a></li>
            </ul>
        </div>
    </aside>
  </div>
  <button class="close-button" ng-click="overlayed = false"><span>×</span></button>

</section>
