<section class="modal-box modal--login" modal-data="login" ng-class="{'modal-box--cover': loginOverlay}">
    <div class="modal-box__content">
        <div class="content--half" ng-controller="loginFormController">
            <h3 class="content__title">Log In</h3>
            <div class="content__form">
                <form ng-submit="login()" class="modal-form">
                    <span>
                        <input class="modal-form__input" type="text" placeholder="Username" name="usernameLogin" ng-model="username">
                        <label for="username"></label>
                    </span>
                    <span>
                        <input class="modal-form__input" type="password" placeholder="Password" name="passwordLogin" ng-model="password">
                        <label for="password"></label>
                    </span>
                    <span>
                        <input type="checkbox" label="Remember Me" name="rememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </span>
                    <button type="submit">Log in</button>
                </form>
            </div>
        </div>
        <div class="content--half" ng-controller="signupController">
            <h3 class="content__title">Sign Up</h3>
            <div class="content__form">
                <form ng-submit="postRegister()" class="modal-form" id="register-form">
                    <span>
                        <input class="modal-form__input" required type="text" placeholder="Choose Username" name="username" ng-model="username">
                        <label for="username"></label>
                    </span>
                    <span>
                        <input class="modal-form__input" required type="password" placeholder="Choose Password" name="password" ng-model="password">
                        <label for=""></label>
                    </span>
                    <span>
                        <input class="modal-form__input" required type="password" placeholder="Verify Password" name="rePasword" ng-model="rePassword">
                        <label for="rePassword"></label>
                    </span>
                    <span>
                        <input class="modal-form__input" required type="email" placeholder="Email" name="email" ng-model="email">
                        <label for="email"></label>
                    </span>
                    <!-- <span>
                        <input type="checkbox" label="Remember Me" name="rememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </span> -->
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <h5 class="modal__notice">By signing up, you agree to our Terms and that you have read our Privacy Policy and Content Policy.</h5>
    </div>
    <button class="close-button" ng-click="loginOverlay = false"><span>×</span></button>
</section>
