<section class="modal-box modal--lightbox" id="item-popup" modal-data="lightbox" ng-class="{'modal-box--cover': lightbox.lightboxOn}" ng-controller="lightboxController as lightbox">
  <div class="modal-box__content">
    <figure class="modal-box__image">
        <img class="image__content" ng-src="{{ imagePath }}" alt="">
        <figcaption class="image__functions">
          <i class="glyphicon glyphicon-thumbs-up"></i>
          <a href="#/singleItem/:{{ itemId }}" ng-click="redirectComment()"><i class="glyphicon glyphicon-comment"></i></a>
          <i class="glyphicon glyphicon-subtitles"></i>
        </figcaption>
        <figcaption class="image__info">
            <h4>Name: <span class="image-info__name">{{ imageTitle }}</span></h4>
            <h4>Uploaded: <span class="image-info__upload-date">{{ imageUploadDate }}</span></h4>
            <h4>Views: <span class="image-info__views">{{ imageViews }}</span></h4>
            <h4>Author: <span class="image-info__author">{{ imageAuthor }}</span></h4>
        </figcaption>
        <figcaption class="image__description">
            <strong>Description:</strong><p>{{ imageDescription }}</p>
        </figcaption>
      </figure>
    <aside class="modal-box__metadata">
        <br>
      <!-- metadata -->
      <div class="metadata__data">
          <h5>Taken: <span class="taken-date">{{ imageTakenDate }}</span></h5>
          <h5>Resolution: <span class="resolution">{{ imageWidth + ' x ' + imageHeight + temp }}</span></h5>
          <h5>Pixels per Inch: <span class="dpi">{{ imageDPI }}</span></h5>
          <h5>Size: <span class="size">{{ imageSize }}</span></h5>
          <h5>Image Type: <span class="image-type">{{ imageType }}</span></h5>
      </div>
      <!-- copy links -->
      <div class="metadata__links">
        <label for="direct-link">Direct Link</label>
        <span class="copy">Copy</span><input readonly class="link direct-link" name="direct-link" type="text" value="{{ imageDirectLink }}">
        <br>
        <label for="image-link">Image Link</label>
        <span class="copy">Copy</span><input readonly class="link image-link" name="image-link" type="text" value="something image here">
        <br>
        <label for="direct-link">HTML Link</label>
        <span class="copy">Copy</span><input readonly class="link html-link" name="html-link" type="text" value="{{ imageHtmlLink }}">
        <br>
      </div>
      <!-- share options -->
      <ul class="metadata__share">
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="pinterest"><a href="#">Pinterest</a></li>
        <li class="googleplus"><a href="#">Google+</a></li>
      </ul>
    </aside>
    <aside class="modal-box__metadata--phone">
        <div class="metadata-nav">
            <a ng-class="{active : tabSelected(1)}" ng-click="selectTab(1)" href="#">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span>Metadata</span>
            </a>
            <a ng-class="{active : tabSelected(2)}" ng-click="selectTab(2)" href="#">
                <i class="glyphicon glyphicon-link"></i>
                <span>Links</span>
            </a>
            <a ng-class="{active : tabSelected(3)}" ng-click="selectTab(3)" href="#">
                <i class="glyphicon glyphicon-share"></i>
                <span>Share</span>
            </a>
        </div>
        <div class="metadata__tab--phone tab--data" ng-class="{active : tabSelected(1)}">
            <p>
              <h5>Taken: <span class="taken-date">{{ imageTakenDate }}</span></h5>
              <h5>Resolution: <span class="resolution">{{ imageWidth + ' x ' + imageHeight }}</span></h5>
              <h5>Pixels per Inch: <span class="dpi">{{ imageDPI }}</span></h5>
              <h5>Size: <span class="size">{{ imageSize }}</span></h5>
              <h5>Image Type: <span class="image-type">{{ imageType }}</span></h5>
            </p>
        </div>
        <div class="metadata__tab--phone tab--links" ng-class="{active : tabSelected(2)}">
            <label for="direct-link">Direct Link</label>
            <br>
            <span class="copy">Copy</span>
            <input readonly class="link direct-link" name="direct-link" type="text" value="{{ imageDirectLink }}">
            <br>
            <label for="image-link">Image Link</label>
            <span class="copy">Copy</span><input readonly class="link image-link" name="image-link" type="text" value="something image here">
            <br>
            <label for="direct-link">HTML Link</label>
            <span class="copy">Copy</span><input readonly class="link html-link" name="html-link" type="text" value="{{ imageHtmlLink }}">
            <br>
        </div>
        <div class="metadata__tab--phone tab--share" ng-class="{active : tabSelected(3)}">
            <ul class="metadata__share">
              <li class="facebook"><a href="#">Facebook</a></li>
              <li class="twitter"><a href="#">Twitter</a></li>
              <li class="pinterest"><a href="#">Pinterest</a></li>
              <li class="googleplus"><a href="#">Google+</a></li>
            </ul>
        </div>
    </aside>
  </div>
  <button class="close-button" ng-click="lightbox.close()"><span>×</span></button>

</section>
