<section class="modal-box modal--login" modal-data="login">
    <div class="modal-box__content">
        <div class="content--half">
            <h3 class="content__title">Sign In</h3>
            <div class="content__form">
                <form action="" class="modal-form">
                    <span>
                        <input class="modal-form__input" type="text" placeholder="Username" name="username">
                        <label for="username"></label>
                    </span>
                    <span>
                        <input class="modal-form__input" type="password" placeholder="Password" name="password">
                        <label for="password"></label>
                    </span>
                    <span>
                        <input type="checkbox" label="Remember Me" name="rememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </span>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <div class="content--half">
            <h3 class="content__title">Not Have Account Yet?</h3>
            <div class="content__form">
                <form action="" class="modal-form">
                    <span>
                        <input class="modal-form__input" type="text" placeholder="Choose Username" name="username">
                        <label for="username"></label>
                    </span>
                    <span>
                        <input class="modal-form__input" type="password" placeholder="Choose Password" name="password">
                        <label for=""></label>
                    </span>
                    <span>
                        <input class="modal-form__input" type="password" placeholder="Verify Password" name="rePasword">
                        <label for="rePassword"></label>
                    </span>
                    <span>
                        <input class="modal-form__input" type="email" placeholder="Email" name="email">
                        <label for="email"></label>
                    </span>
                    <span>
                        <input type="checkbox" label="Remember Me" name="rememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </span>
                    <button type="submit">Log in</button>
                </form>
            </div>
        </div>
        <h5 class="modal__notice">By signing up, you agree to our Terms and that you have read our Privacy Policy and Content Policy.</h5>
    </div>
    <button class="close-button"><span>×</span></button>
</section>
