<figure ng-controller="thumbMediaController">
    <!-- Parent: thumbnail__audio-vertical -->
    <img ng-src="https://unsplash.it/320/640/?random={{item.fileId}}" alt="" ng-click="sendDataToModal(item.fileId)">
    <i class="fa fa-music music-note fa-3x" ng-click="loadSong('http://util.mw.metropolia.fi/uploads/' + item.path)"></i>
    <figcaption>
        <p ng-click="sendDataToModal(item.fileId)" class="position__center">{{item.title}}</p>
        <span></span>
        <!-- div class="thumbnail-audio-play" ng-click="loadSong('http://util.mw.metropolia.fi/uploads/' + item.path)">
            <i class="fa fa-play fa-2x"></i>
        </div> -->
    </figcaption>
</figure>
