<videogular vg-theme="config.theme" vg-player-ready="onPlayerReady($API)">
    <vg-media vg-src="config.sources">
    </vg-media>
    <vg-controls vg-preload="auto">
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display class="hidden__phone hidden__tablet">{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display class="hidden__phone hidden__tablet">{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
        <vg-volume class="hidden__phone hidden__tablet">
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>
    <vg-overlay-play></vg-overlay-play>
    <!-- <vg-poster vg-url="config.plugins.poster"></vg-poster> -->
    <aside>
        <div class="title">
            <h3 ng-click="sendDataToModal(item.fileId)">{{ item.title }}</h3>
        </div>
        <div class="duration"></div>
    </aside>
</videogular>
