<figure ng-controller="thumbMediaController" ng-click="sendDataToModal(item.fileId)">
    <img iid="{{item.fileId}}" class="" alt="{{item.title}}" ng-src="http://util.mw.metropolia.fi/uploads/{{item.thumbNails.medium}}">
    <!-- <aside>
    	<span class="like">
    	    <i class="glyphicon glyphicon-thumbs-up"></i><span class="like-amount">20</span>
    	</span>
    	<span class="comments">
    	    <i class="glyphicon glyphicon-comment"></i><span class="comment-amount">20</span>
    	</span>
    </aside> -->
</figure>
